<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<script type="text/javascript">
	var cnt = <%=cnt%>
	if(cnt >0){
		alert('정상적으로 추가되었습니다.');
		location.href="/empList";
	}else{
		alert('추가 실패');
		history.back();
	}
</script>
</body>
</html>