<!DOCTYPE html>
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	body {
		text-align: center;
		vertical-align: middle;
		font-family: "Nanum Myeongjo", serif;
		/*font-family: "Nanum Gothic", serif;*/
		font-weight: 500;
	}
	span {
		font-size : 500px
	}
</style>
<body>
	GANADA
	{%for e in a %}
		<br><span>{{e}}</span>
	{% endfor %}
</html>