<!DOCTYPE html>
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dokdo&family=Gaegu&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Stylish&family=Sunflower:wght@300&display=swap" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	body {
		text-align: center;
		vertical-align: middle;
		/*font-family: "Stylish","Gaegu","Dokdo","Sunflower","Nanum Gothic","Nanum Myeongjo","Nanum Pen Script","Black Han Sans", serif;*/
		font-family: {{f}}, serif;
		font-weight: {{w}};
	}
	span {
		font-size : 500px
	}
</style>
<body>
	<span>{{char}}</span>
</body>
</html>